<div class="panel p-2">
  <div class="row text-center">
    <div class="col-12">
      <div>{{ player.title }}</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-2">
      <img [src]="'../../assets/unit/' + player.avatar" class="card-img-top" alt="hero">
    </div>
    <div class="col-4">
      <div class="align-middle">Attack power: {{ player.power }}</div>
      <div class="align-middle">Weapon reload speed: {{ reloadTime }} ms</div>
    </div>
    <div class="col-6">
      <button [disabled]="reload" type="button" class="btn btn-warning w-100" (click)="attack()">Attack</button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <ul class="list-group list-group-flush mt-2">
        <li class="list-group-item">
          <div class="progress" role="progressbar">
            <div class="progress-bar" [style.width]="player.health + '%'"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
