<div class="container-fluid p-0">
  <div class="scene">
    <div class="castle">
      <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <div class="area">
            <div [attr.data-unit-id]="villains.id" *ngFor="let villains of villains" [@fadeInOut] #unit>
              <app-unit [unit]="villains"/>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="area float-end">
            <div [attr.data-unit-id]="hero.id" *ngFor="let hero of heroes" [@fadeInOut] #unit>
              <app-unit [unit]="hero"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center trigger">
      <button *ngIf="player && !this.gameOver" type="button" class="btn btn-warning btn-lg" (click)="attack()">Attack
      </button>
      <button *ngIf="!player" type="button" class="btn btn-primary btn-lg" (click)="joinGame()">Join game</button>
    </div>
  </div>
</div>
